<div class = "bar">
    <a href = "/" class = "home">
        <img src="/images/home.png">
    </a>
    <span>phoneZone</span>
    <input type="text" id="searchID" placeholder="search phone"></input>
    <!-- <button onclick="window.location=/checkout">check out</button> -->
    <span><%= username %></span>
    <a href = "/show">show product</a>
    <a href = "/checkout">check out</a>
    <a href = "/users/logout">logout</a>
</div>
