/* general text formatting */

h1, h2, h3, nav, footer {
   font-family: Georgia, Cambria, "Times New Roman", serif;
}

body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 80%;
}

label {
   position: relative;
   left: 1198px;
   background-color: #EBF4FB;
   border: 1px solid #95BEF0;
   font-size: 13px;
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   padding: 3px;
}

div#listBox {
   margin: 0.25em auto;
   background-color: #EBF4FB;
   padding: 1em;
   border: 1pt solid #95BEF0;
   width: 80%;
}

div#listBox {
   margin-top: 1em;
   background-color: #FAFCFF;
}

table {
   border: collapse;
   border-spacing: 0;
   width: 100%;
}

table tbody td {
   border-top: 1pt solid #95BEF0;
   line-height: 1.5em;
   vertical-align: middle;
   padding: 0.5em 0.75em;
}

table thead th {
   text-align: left;
   padding: 0.25em 0.75em;
}

table thead {
   background-color: #EBF4FB;
}

div#total {
   float: right;
   margin-right: 9%;
   margin-top: 10px;
}

div#back {
   margin: 0.25em auto;
   background-color: #EBF4FB;
   padding: 1em;
   border: 1pt solid #95BEF0;
   width: 80%;
}